body {
	background-color: $manila;
	color: white;
	width: 100%;

}

.subpages--list {
	padding: 0 2rem;
	@include media(sm){
		padding: 0rem 4rem;
	}

}


// Filters

.cat-list  {
	&.question{
		display: flex;
		ul {
			list-style: none;
			
		}
	}
}


//Heros

.hero {
	width: 100%;
	// z-index: 1;
	padding: 2rem 2rem 2rem 4rem;
	position: relative;
	@include media(lg){
		padding: 8rem 0 8rem 12rem;
	}
	height: 80vh;
	min-height: 600px;
	.content {
		max-width: 600px;
		position: relative;
		z-index: 10;
	
	}
	.btn--skinny {
		margin-left: 0;
	}
	a{
		display: table;
	}
}



// Top Level - Child page section

.top-level-section {
	
	background: linear-gradient(180deg, #E1125C 0%, #CF004A 100%);
	@include media(lg){
		padding: 20rem 13.2rem 9rem;
	}
	.inner {
		display: flex;
		flex-direction: column;
		.left {
			position: relative;
			width: 65%;
			margin: 0 auto;
			margin-bottom: 5rem;
			@include media(lg){
				margin-bottom: 0;
				width: 50%;
			}
		}
		.right {
			@include media(lg){
				width: 50%;
			}
		}
		.image--top-level {
			// margin: 0 auto;
			// width: 85%;
			position: relative;
			img {
				z-index: 10;
				border-radius: 100%;
			}
			@include media(lg){
				width: initial;
			}
		}
		.shape {
			position: absolute;
			z-index: 1;
			top: 2rem;
			left: -2rem;
			border-radius: 100%;
			width: 100%;
			height: 100%;
			background-color: $yellowOrange;
		}
		h2 {
			margin-bottom: 3rem;
			@include media(lg){
				position: absolute;
				top: -7.813rem;
			}
			
		}
		@include media(lg) {
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			
		
		}
	}
}

// Home - At A Glace

.at-a-glance {
	z-index: 2;
	background: linear-gradient(180deg, #2F9BF8 0%, #3674D9 100%);
	@include media(lg){
		padding: 9.6rem 13.2rem 9rem;
	}
	h2 {
		margin-bottom: 4.3rem; 
		margin-left: 2rem;
		@include media(lg){
			max-width: 30rem;

		}
		
	}
	.inner {
		
		display: flex;
		flex-direction: column;
		.left {
			position: relative;
			margin: 0 auto;
			margin-bottom: 5rem;
			width: 85%;
			@include media(lg){
				margin-bottom: 0;
				width: 30%;
			}
		}
		.right {
			@include media(lg){
				width: 55%;
			}
		}
		.empty-col{
			@include media(lg){
				width: 10%;
				// border: 1px solid yellow;
			}
		}
		.image--at-a-glace {
			margin: 0 auto;
			width: 85%;
			position: relative;
			img {
				z-index: 5;
			}
			@include media(lg){
				width: initial;
			}
		}
		.shape {
			position: absolute;
			z-index: 1;
			top: 2rem;
			left: -2rem;
			clip-path: polygon(0 0, 0% 100%, 100% 100%);
			width: 100%;
			height: 100%;
			background-color: $yellowGreen;
		}
		
		@include media(lg) {
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			
		
		}
	}
}



//Home - Questions we're getting

.questions-getting {
	background-color: $manila;
	.view-all {
		color: $raspberry;
		font-size: 1.6rem;
		padding: 1.5rem 0 2rem 0;
		margin-left: 1.5rem;
		position: relative;
		top: 1.5rem;
		@include media(lg){
			padding-left: 0;
		}
		&:hover {
			&:after {
				transition: all 0.2s ease-in-out;
				width: 100%;
			}
		}
		&:after {
			transition: all 0.2s ease-in-out;
			position: absolute;
			content: "";
			height: 2px;
			width: 0%;
			background-color: $raspberry;
			left: 0;
			transform: translateY(2rem);
		}
	}
	h3{
		color: $graphite;
	}
	.left {
		@include media(lg){
			width: 25%;
		}
	}
	.right {
		@include media(lg){
			width: 75%;
		}
	}
	.inner {
		display: flex;
		flex-direction: column;
		@include media(lg) {
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
	}
}


//Cards

//resource card

.resource-card{
	
	padding: 3.6rem;
	cursor: pointer;
	border-radius: 4rem;
	margin: .5rem;
	position: relative;
	width: 28.8rem;
	align-self: stretch;  
	display: flex;

	.resource--text {
		p {
			color: $white;
		}
	}
	.continue-reading {
		display: block;
		a {

			color: white;
		}
	}
}

ul.card--categories {
	list-style: none;
	padding-left: 0;
	margin-top: 1.5rem;
}


//Question card

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	// align-items: center;
	align-items: stretch;
	padding-left: 0rem;
}
.question-card {
	height: 30rem;
	width: 30rem;
}
.card {
	cursor: pointer;
	&.square {
		border-radius: 4rem;
	}
	.question--text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 80%;
		font-size: 2.4rem;
		line-height: 2.88rem;
		font-weight: 700;
		p{
			color: $white;
		}
	}
	margin: .5rem;
	position: relative;
	width: 28.8rem;
	align-self: start;          /* desired width */

	background-color: $tangelo;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $white;
	.the-answer {
		display: none;
		visibility: hidden;
		opacity: 0;
		transition: all 0.15s ease-in-out;
		font-size: 2.4rem;
		line-height: 2.88rem;
	}
	transition: all 0.15s ease-in-out;
	.continue-reading {
		display: none;
		visibility: hidden;
		opacity: 0;
		font-size: 1.2rem;
		height: 4.15rem;
	}
	&:hover, &:focus-within {
		background-color: $graphite;
		color: $white;
		a{
			color: $white;
		}
		transition: all 0.15s ease-in-out;
		.the-question {
			font-weight: 700;
			display: none;
			visibility: hidden;
		}
		.the-answer {
			display: block;
			visibility: visible;
			opacity: 1;
			transition: all 0.15s ease-in-out;
		}
		// .question--text{
		// 	color: $tangelo;
		// }
		.card--categories {
			display: none;
			visibility: hidden;
			opacity: 0;
		}
		.continue-reading {
			display: block;
			visibility: visible;
			opacity: 1;
			
			// a {
			// 	color: $tangelo;
			// }

		}
	}
}

// Updates card

.more-updates {

	text-align: center;
	margin-top: 3rem;
	a{
		position: relative;
		color: $manila;
		&:hover {
			&:after {
				transition: all 0.2s ease-in-out;
				width: 100%;
			}
		}
		&:after {
			transition: all 0.2s ease-in-out;
			position: absolute;
			content: "";
			height: 2px;
			width: 0%;
			background-color: $manila;
			left: 0;
			transform: translateY(2rem);
		}
	}

}
.update-card-container {
	align-items: stretch;
	min-width: 21.5rem;


}
.update-card {
	cursor: pointer;
	position: relative;
	list-style: none;
	width: 95%;
	width: 28.8rem;
	align-self: stretch;  
	margin: 0 auto;
	margin: 0.5rem;
height: 100%;
	z-index: 10;
	transition: left .4s cubic-bezier(.47,.13,.15,.89);
	.inner {
		padding: 3.6rem;
		z-index: 10;
		position: relative;
		width: 100%;
		background-color: $manila;
		border-radius: 2.1rem 0 2.1rem 2.1rem;
	height: 85%;
		h4{
			margin-bottom: 1rem;
		}
		.post-date {
			text-transform: uppercase;
			margin-bottom: 1.2rem;
			font-size: 1.2rem;
			margin-top: 0;
		}
		.content {
			margin-bottom: 1.8rem;
			a, p {
				font-size: 1.4rem;
				line-height: 115%;
			}
		}
		.learn-button {
			margin-left: 0;
			font-weight: 800;
			text-transform: uppercase;
		}
	}
	.tab {
		
		position:relative;
		background-color: $manila;
		position: relative;
		height: 15%;
		height: 4.7rem;
		margin-left: auto;
		width: 38%;
		border-radius: 5rem 2rem 0 0;
		top: 2.2rem;
	}
}



// Updates Carousel

.updates-section {	
	height: auto;
	background-color: $violet;
	width: 100%;
	@include media(lg){
		padding: 8rem 4.8rem 9.5rem;
	}



}



//Filter


	.ajax-filter-multi{
		display: flex;
		overflow-x: scroll;
		margin-bottom: 3rem;
		@include media(md){
			margin-bottom: 5rem;
		}
		.cat-select{
			width: 200px;
			margin-right: 1rem;
			@include media(md){
			
			}
			min-width: 19rem;
		}
	}



.filter-by-category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	width: 100%;
	@include media(sm){
		transform: translateY(-60%);
		position: absolute;
		width: 50%;
	}
	@include media(md){
		width: 50%;
	}
	@include media(lg){
		width: 35%;
		padding: 4rem;
	}
	 position: relative;
	 right: 0;
	 top: 0;
	background: $deepBlue;
	&:before {
		content: "";
		display: block;
		padding-top: 10%;    /* initial ratio of 1:1*/
	}
	

	h2{
		margin-bottom: 1.8rem;
		font-size: 3.6rem;
	}
}
.cat-select {
	display: table;
	padding: 1rem 2rem;
	width: 75%;
	@include media(lg){
		padding: 1rem 2rem;
		width: initial;
	}
	@include media(xl){
		padding: 1.5rem 2.6rem;
	}
	color: $deepBlue;
	border-radius: 100px;
	border: 2px solid $deepBlue;
&.resource-search {
	// height: 5rem;

	// display: flex;
}
	// .custom-searchform{
	// 	width: 100%;
	// 	height: 100%;
	// 	border-bottom: 2px solid $deepBlue;
	// 	input {
	// 		width: 100%;
	// 		border: 0px!important;
	// 		border-left
	// 		&:placeholder {
	// 			color: $graphite!important;
	// 		}
	// 	}
	// }
	.search-vert-line{
		display: none;
	
	}
}
.cat-list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 0;
	transform: translateY(-20%);
	@include media (sm){
		position: absolute;
		top: 7rem;
		left: 0;
		width: 60%;
	}
	@include media(lg){
		left: 3rem;
		top: 3rem;
	}
}


//Child Page Block

.child-page-block {
	p {
		color: $white;
	}
	list-style: none;
	border-bottom: 1px solid $white;
	padding: 2.5rem 0rem;
	&:last-child {
		border-bottom: 0px;
		padding-bottom: 0px;
	}
	&:first-child {
		padding-top: 0px;
	}
	.left--child {
		width: 80%;
		h3{
			margin-bottom: 9px;
		}
	}
	.right--child {
		width: 55px;
	
		
	}
}


// Flexible content

//Tabs

.tab-container {
	h4, p {
		color: $white;
	}
	ul {
	  list-style: none;
	  padding: 0;
	  height: 100px;
	  li {
		cursor: pointer;
		path {
			&:focus {
				outline: 4px solid $vividBlue;
			}
		}
		overflow: hidden;
		margin-right: -2.1rem;
		display: inline-flex;
		position: relative;
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
			  z-index: #{10 - $i};
			}
		 }
		width: 7rem;
		height: 5.6rem;
		top: 5.25rem;
		width: calc(100% / 4 + 1.3rem)!important;
		max-width: 13.2rem;
		 @include media(md){
			width: 13.2rem;
			height: 7.2rem;
		
		 }

		 span {
			top: 1.5rem;
			position: absolute;
			text-align: center;
			color: $white;
			padding-top: .5rem;
			width: 95%;
			line-height: 100%;
			font-size: 1.4rem;
			@include media(sm){
				top: 0.5rem;
			}
		 }
		&.active-tab {
			z-index: 10;
		}
	  }
	}
	
	.tab-pane { 
		z-index: 10;
		position: relative;
	
		display: none;
	  visibility: hidden;
	  padding: 10rem 5rem 5rem 5rem;

	}
	
	.tab-pane.active-tab { 
	  display: block; 
	
	visibility: visible;

	}
  }
  
  
  //Video player

  .embed-container { 
	margin: 5rem auto;
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
} 











