body {
	background-color: $grey;
	color: white;
	width: 100%;
	
}

.subpages--list {
	padding: 0 4rem;
}

.hero {
	width: 100%;
	@include media(md) {
		
	}
	@include media(lg) {
		
	}


}

// Filters

.cat-list  {
	&.question{
		display: flex;
		ul {
			list-style: none;
			button {
				border: 1px solid seagreen;
			}
		}
	}
}


//Heros

.hero {
	border: 2px solid $turquoise;
	height: 90vh;
	min-height: 600px;
	.content {
		max-width: 400px;
	}
	.btn--skinny {
		margin-left: 0;
	}
}

// Home - At A Glace

.at-a-glance {
	background: linear-gradient(180deg, #2F9BF8 0%, #3674D9 100%);
	@include media(lg){
		padding: 20rem 13.2rem 9rem;
	}
	.inner {
		display: flex;
		flex-direction: column;
		.left {
			position: relative;
			margin-bottom: 5rem;
			@include media(lg){
				margin-bottom: 0;
			}
		}
		.image--at-a-glace {
			margin: 0 auto;
			width: 85%;
			position: relative;
			img {
				z-index: 20;
			}
			@include media(lg){
				width: initial;
			}
		}
		.shape {
			position: absolute;
			z-index: 10;
			top: 2rem;
			left: -2rem;
			clip-path: polygon(0 0, 0% 100%, 100% 100%);
			width: 100%;
			height: 100%;
			background-color: $yellowGreen;
		}
		h2 {
			margin-bottom: 3rem;
			@include media(lg){
				position: absolute;
				top: -7.813rem;
			}
			
		}
		@include media(lg) {
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
			
		
		}
	}

}

//Home - Questions we're getting

.questions-getting{
	background-color: $manila;
	.view-all {
		color: $raspberry;
	}
	h3{
		color: $graphite;
	}
	.left {
		@include media(lg){
			width: 25%;
		}
	}
	.right {
		@include media(lg){
			width: 75%;
		}
	}
	.inner {
		display: flex;
		flex-direction: column;
		@include media(lg) {
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
	}
}


//Cards


//Question card

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-left: 0rem;
}
.question-card {
	.question--text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 80%;
		color: $white;
	}
	margin: .5rem;
	position: relative;
	width: 28.8rem;
	align-self: start;          /* desired width */
	&:before {
		content: "";
		display: block;
		padding-top: 100%;    /* initial ratio of 1:1*/
	}
	background-color: $tangelo;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $white;
}

// Updates card

.update-card {
	position: relative;
	color: black;
	list-style: none;
	width: 95%;
	// @include media(sm){
	// 	width: 48%;
	// }
	// @include media(lg){
	// 	width: 32%;
	// }
	height: 100%;
	margin: 0 auto;
	height: 30rem;
	
	z-index: 10;
	transition: left .4s cubic-bezier(.47,.13,.15,.89);
	

	&:nth-child(2n){
		color: $tangelo;
	}
	&:nth-child(4n){
		color: $veronica;
	}
	&:hover{
		.tab, .inner {
			background-color: $deepBlue;
		}
		h4, p, a {
			color: $white;
		}
	}
	.inner {
		padding: 3.6rem;
		z-index: 10;
		position: relative;
		width: 100%;
		background-color: $manila;
		border-radius: 2.1rem 0 2.1rem 2.1rem;
		height: 85%;
		h4{
			margin-bottom: 1rem;
		}
		.post-date {
			text-transform: uppercase;
			margin-bottom: 4rem;
		}
		.content {
			margin-bottom: 1.8rem;
		}
	}
	.tab {
		position:relative;
		background-color: $manila;
		position: relative;
		height: 15%;
		margin-left: auto;
		width: 38%;
		border-radius: 5rem 2rem 0 0;
		top: 2.2rem;
	}
}



// Updates Carousel

.updates-section {
	border: 2px solid brown;
	
	height: auto;
	background-color: $violet;
	@include media(lg){
		padding: 8rem 4.8rem 9.5rem;
	}
	.slide {
		position: absolute;
		@include media(sm){
			max-width: 48%;
		}
		@include media(lg){
			max-width: 32%;
		}
	}
	.controls {
		cursor: pointer;
		position: absolute;
		&.prev {
			top: 50%;
			transform: translateY(-50%);
			left: -3rem;
		}&.next {
			bottom: 50%;
			transform: translateY(50%);
			right: -3rem;
		}
	}
	.carousel {
		position: relative;
		width: 90%;
		height: 35rem; 
		margin: 0 auto;
	}
	.carousel-content{
		position: relative;
		overflow: hidden;
		transition: width .4s;
		height: 100%;
		padding-left: 0;
	
	}
}



//Filter

.filter-by-category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
	transform: translateY(-60%);

	@include media(md){
		width: 50%;
	}
	@include media(lg){
		width: 35%;
		padding: 4rem;
	}
	 position: absolute;
	 right: 0;
	 top: 0;
	background: $deepBlue;
	&:before {
		content: "";
		display: block;
		padding-top: 10%;    /* initial ratio of 1:1*/
	}
	
	select {
		@include media(lg){
			padding: 1rem 2rem;
		}
		@include media(xl){
			padding: 1.5rem 2.6rem;
		}
		color: $deepBlue;
		border-radius: 100px;
		border: 0px;
	}
	h2{
		margin-bottom: 1.8rem;
	}
}


//Child Page Block

.child-page-block {
	list-style: none;
	border-bottom: 1px solid $white;
	padding: 2.5rem 0rem;
	&:last-child {
		border-bottom: 0px;
		padding-bottom: 0px;
	}
	&:first-child {
		padding-top: 0px;
	}
	.left {
		width: 80%;
		h3{
			margin-bottom: 9px;
		}
	}
	.right {
		width: 55px;
		height: 55px;
		border-radius: 100px;
		border: 1px solid $white;
	}
}















