body {
	background-color: $grey;
	color: white;
}

.hero {
	
	@include media(md) {
		
	}
	@include media(lg) {
		
	}


}

// Filters

.cat-list  {
	&.question{
		display: flex;
		ul {
			list-style: none;
			button {
				border: 1px solid seagreen;
			}
		}
	}
}


//Heros

.hero {
	border: 2px solid $turquoise;
	height: 50vh;
}


//Cards





























