/*Navigation*/
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

.no-scroll {
	overflow: hidden;
  position: relative;
  height: 100%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Main Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}

.nav-drawer {
	display: none;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	padding-top: 28px;
	padding-bottom: 26px;
	width: 100%;
}

.main-navigation ul ul {
	height: 0;
	overflow: hidden;
	padding-left: 30px;
	position: relative;
	transition: var(--transition);
}

.main-navigation ul li.focus ul {
	height: auto;
}

.main-navigation ul ul ul {
	padding-left: 30px;
}

.main-navigation li {
	position: relative;
	padding-right: 30px;

	font-weight: 700;
	font-size: 16px;
	line-height: 135.75%;
}

.main-navigation a {
	color: white;
	display: inline;
	padding-bottom: 2px;
	text-decoration: none;

	background-image: linear-gradient(currentColor, currentColor);
  background-position: 2% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.4s ease-out;
}

.main-navigation a:hover {
	color: white;
	background-size: 100% 2px;
}

.main-navigation li.menu-item-has-children a:hover,
.main-navigation a.btn--fat:hover {
	background-size: 0% 2px;
}

.main-navigation li.menu-item-has-children li a:hover {
	background-size: 100% 2px;
}

.main-navigation .menu-item-has-children > a {
	margin-bottom: 24px;

	&::after {
		content: url('images/svg/nav-down-arrow.svg');
		padding-left: 10px;
	}
}

.main-navigation .menu-item-has-children ul .menu-item-has-children > a {

	&::after {
		display: none;
	}
}

/*.main-navigation a::after {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--color-text-reverse);
}*/

@media screen and (max-width: calc(1099rem / 16)) {
	.main-navigation {
		padding: 20px 0;
	}

	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
	}

	.main-navigation.toggled .nav-drawer {
		display: block;
	}

	.nav-drawer {
		background-color: $fandango;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding: 100px 30px 60px;
		z-index: 0;
		overflow: auto;
	}

	.menu-item-has-children > a {
		position: relative;
		z-index: 0;
		width: 100%;
	}

	.main-navigation ul li {
		padding-right: 0;
		padding-left: 0;
		padding: 10px 0;
	}

	.main-navigation ul li ul li {
		margin-bottom: 6px;
		padding: 0;
	}

	.main-navigation ul li ul li:first-child {
		margin-top: 20px;
	}

	.main-navigation ul li ul li:last-child {
		margin-bottom: 20px;
	}

	.main-navigation ul ul {
		background-color: $fandango;
		// height: auto;
		overflow: hidden;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 16px;
		position: relative;
		// display: none;
		// padding-top: 16px;
	}

	.main-navigation ul ul li {
		margin-bottom: 6px;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		display: block;
		// left: 100%;
	}

	.main-navigation li.menu-item-has-children.focus > a::after {
		content: url('images/svg/nav-up-arrow.svg');
	}
}

@media screen and (min-width: calc(1100rem / 16)) {
	.main-navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.menu-toggle {
		display: none;
	}

	.nav-drawer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.main-navigation ul {
		display: flex;
	}

	/*	sub navs*/
	/*	sub navs*/
	.main-navigation ul ul {
		background-color: $fandango;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		display: block;
		height: auto;
		overflow: visible;
		padding: 24px 0 24px 18px;
		position: absolute;
		top: 100%;
		left: -999em;
		width: auto;
		z-index: 99999;
	}

	.main-navigation ul ul ul {
		all: unset;
		margin-top: 14px;
		display: block;
	}

	.main-navigation ul ul ul li {
		font-weight: 700;
		font-size: 14px;
		line-height: 135.75%;
		padding-left: 14px;

		&::before {
			content: '- '
		}
	}

	.main-navigation ul ul li {
		width: 250px;
	}

	.main-navigation ul li ul li {
		line-height: 22px;
		margin-bottom: 10px;
	}

	.main-navigation ul ul a {
		color: white;
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}


/* Hamburger */

button.menu-toggle {
	position: absolute;
	top: 12px;
	right: 10px;
	z-index: 2;
	background: transparent;
	padding: 27px 21px 22.5px;
	margin: 0;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	transition: all 0.4s var(--easing);
}

button.menu-toggle:focus {
	outline: thin dotted currentColor;
	outline-offset: 2px;
}

button.menu-toggle:focus:not(:focus-visible) {
	outline: none;
}

button.menu-toggle:focus-visible {
	outline: thin dotted currentColor;
	outline-offset: 2px;
}

.bar {
	display: block;
	width: 36px;
	height: 3.5px;
/*	border-radius: 0px;*/
	background-color: #fff;
	margin-bottom: 6px;
	transition: all 0.2s ease-out;
}

.bar3 {
	transform-origin: center;
}

.bar1 {
	transform-origin: center;
}

.toggled .bar2 {
	display: none;
}

.toggled .bar3 {
	transform: rotate(-40deg) translateY(-6px);
}

.toggled .bar1 {
	transform: rotate(40deg) translateY(6px);
}