
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 2px solid $raspberry;
	@include media(lg)
		{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
}

button[aria-expanded="true"]{
	svg {
	  transform: rotate(180deg);
	  transition: all .25s ease-in;
	}
  }

nav {
	&[aria-hidden="true"]{
		top: 0;
		left: -200%;
		opacity: 0;
		transition: all .5s ease-in-out;
		background-color: $fandango;
	}
	&[aria-hidden="false"]{
		top: 0;
		left: 0;
		opacity: 1;
		width: 100%;
		height: 100%;
		transition: all .5s ease-in-out;
		background-color: $fandango;
	}
	position: fixed;
	background-color: $fandango;
	@include media(lg){
		&[aria-hidden="true"], &[aria-hidden="false"] {
			top: initial;
			left: initial;
			opacity: initial;
			background-color: initial;
			transition: none;
		}
		


		display: flex;
		position: relative;
	}
	border: 2px solid $mint;
	ul.main {
		list-style: none;
		padding-left: 0;
		border: 2px solid $yellow;
		@include media(lg){
			display: flex
		}	
		li {
			margin: 0 15px;
			a {
				color: $white;
				font-weight: 700;
				margin-bottom:10px;
			}
		}
	}
	
}
.menu-item-has-children {
	&:after {
		content: ' \005E';
	}
	.menu-item-has-children{
		&:after{
			content: "";
		}
	}
}
.sub-menu  {
  position: absolute;
  left: 0;
  padding: 0;
  list-style: none;
  max-height: 1px;
  width: 1px;
  overflow: hidden;
  transition: max-height .75s ease-in-out;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  li {
	
	.sub-menu {
		position: relative!important;
		li {
			&:before {
			position: relative;
			top: -4px;
			left: 0;
			margin-right: 4px;
			content: "";
			display: inline-block;
			height: 2px;
			width: 10px;
			background: $white;
			}
			
			a{
				font-size: 11px;
			}
		}
	}
  }

  a {
	color: $white;
	font-size: 14px;
  }
  .sub-menu {
	padding-left: 1.6rem;
  }
}
.menu-item{
	position: relative;
	&.focus {
		border: 1px solid $violet;
	}
}
.menu-item:hover, .menu-item.focus {
	.sub-menu {
	  position: absolute;
	  z-index: 10;
	  padding: 0.8rem;
	  left: -1.5rem;
	  width: 19.2rem;
	  max-height: 32rem;
	 
	  background: $fandango;
	  clip: auto;
	  transition: max-height .75s ease-in-out;
	}
}

.menu-toggle {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 90px;
	height: 90px;
	font-size: 0;
	background-image: url('images/svg/menu_icon.svg');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-position: center center;
	background-color: transparent;
	@include media(lg) {
		display: none;
	}
}

.header-buttons {
	border: 2px solid $yellowOrange;
	display: flex;
	align-items: center;
}


// header {
// 	position: relative;
// 	top: 0;
// 	min-width: 100%;
// 	height: 200px;
// 	z-index: 10;

// 	@include media(md) {
// 		// position: fixed;
// 	}

// 	@include media(lg) {
// 		height: 240px;
// 	}

// 	h1 {
// 		a {
// 			font-size: 0;
// 			display: block;
// 			position: absolute;
// 			width: 40px;
// 			height: 120px;
// 			left: 30px;
// 			top: 30px;
// 			svg {
// 				fill: white;
// 			}

// 			@include media(lg) {
// 				width: 50px;
// 				height: 180px;
// 			}
// 		}
// 	}

// 	nav {
// 		display: none;
// 		@include media(md) {
// 			display: block;
// 			position: absolute;
// 			top: 90px;
// 			right: 45px;
// 			ul {
// 				list-style: none;
// 				padding: 0;
// 				text-align: right;
// 				margin-right: -15px;
// 				li {
// 					display: inline-block;
// 					margin: 0 15px;

// 					&.cta {
// 						a {
// 							text-transform: uppercase;
// 							letter-spacing: 0.05em;
// 							border-bottom: 2px solid white;
// 							padding-bottom: 3px;
// 							opacity: 1;
// 							font-size: 14.5px;
// 						}
// 					}

// 					a {
// 						font-size: 1rem;
// 						color: white;
// 						display: block;
// 						@include heading;
// 						opacity: 0.8;
// 						border-bottom: 2px solid transparent;
// 						padding-bottom: 6px;
// 						@include animate(all, 0.15s, 0);
// 						&:hover {
// 							padding-bottom: 3px;
// 							opacity: 1;
// 							border-color: $yellow;
// 							color: $yellow;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}

// 	.menu-toggle {
// 		display: block;
// 		position: absolute;
// 		right: 0;
// 		top: 0;
// 		width: 90px;
// 		height: 90px;
// 		font-size: 0;
// 		background-image: url('images/svg/menu_icon.svg');
// 		background-size: 30px 30px;
// 		background-repeat: no-repeat;
// 		background-position: 50% 50%;
// 		background-position: center center;
// 		@include media(md) {
// 			display: none;
// 		}
// 	}
// }

// .drawer {
// 	.drawer-wrap {
// 		background-color: $yellow;
// 		padding: 30px;
// 		color: $black;

// 		ul {
// 			list-style: none;
// 			padding: 0;
// 		}

// 		.menu-toggle {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			background-image: url('images/svg/close_icon.svg');
// 			width: 90px;
// 			height: 90px;
// 			background-repeat: no-repeat;
// 			background-size: 30px;
// 			background-position: 50% 50%;
// 			background-position: center;
// 			font-size: 0;
// 		}

// 		.nav-container {
// 			padding-top: 30px;
// 			li {
// 				font-size: 1.6rem;
// 				@include heading;

// 				&:after {
// 					content: ' ';
// 					display: block;
// 					width: 30px;
// 					height: 2px;
// 					background-color: $black;
// 					margin: 10px 0;
// 				}

// 				a {
// 					color: $black;
					
// 				}

// 				&:hover {
// 					&:after {
// 						background-color: white;
// 					}
// 					a {
// 						color: white;
// 					}
// 				}

// 				&:last-of-type:after {
// 					display: none;
// 				}
// 			}
// 		}

// 		.contact {
// 			margin-top: 60px;
// 			h5 {
// 				margin-top: 1em;
// 			}
// 			a {
// 				color: inherit;
// 			}
// 		}

// 		h1 {
// 			position: absolute;
// 			bottom: 30px;
// 			left: 30px;
// 			a {
// 				height: 40px;
// 				width: 120px;
// 				background-image: url('images/svg/harc_black.svg');
// 				background-repeat: no-repeat;
// 				background-position: center bottom;
// 				display: block;
// 				font-size: 0;
// 			}
// 		}



// 	}
// }