$yellow: #ffbf00;
$black: #121212;
$white: #fff;
$grey: #868585;
$typegrey: #afafaf;
$sig: var(--sigcolor);
$blue: slateblue;


$manila: #FFFCE3;
$graphite:#333333;
$white: #fff;
$redPurple: #A71679;
$raspberry:#E1125C;
$tangelo: #F65300; 
$orange: #F77400;
$yellowOrange: #FF9900;
$yellow: #FFC700;
$yellowGreen: #A4E453;
$emerald: #61D06F;
$mint:#1EBB8A;
$turquoise: #1CC5C4;
$skyBlue: #1ACFFF;
$vividBlue: #25B3FC;
$deepBlue: #2F96F8;
$violetBlue: #3D52B9;
$violet: #6F46C3;
$veronica: #A13ACC;
$fandango:#A428A3;


$cardColors: #E1125C, #61D06F, #F77400, #2F96F8, #A13ACC,#1CC5C4,#6F46C3, #1EBB8A, #FF9900, #25B3FC, #F65300, #A71679;
$tabColors:#3D52B9,#3674D9,#2F96F8,#1CC5C4,#1EBB8A;

$tabColorsLength: length($tabColors);
$cardColorsLength: length($cardColors);

.card-color {
    @for $i from 1 through $cardColorsLength {
      &:nth-of-type(#{$cardColorsLength}n+#{$i}) {
        background-color: nth($cardColors, $i);
      }
    }
  }
  .update-color {
    @for $i from 1 through $cardColorsLength {
      &:nth-of-type(#{$cardColorsLength}n+#{$i}) {
        * {
          color: nth($cardColors, $i)!important;
        }
        &:hover {
          .inner, .tab {
            background-color: nth($cardColors, $i)!important;
          }
              *{
                color: $white!important;
              }
        
        }
      }
    }
  }
  .tab-color {
    @for $i from 1 through $tabColorsLength{
      &:nth-of-type(#{$tabColorsLength}n+#{$i}){
      
        &.tab-pane{
          background-color: nth($tabColors, $i);
        }
        svg {
          path{
            fill: nth($tabColors, $i);

          }
        }
      }
    }
  }