img {
	position: relative;
}

button, .button {
	a {
		display: inline-block;
		margin-bottom: 1rem;
		@include heading;
		font-size: 1.07rem;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: inherit;
		padding-bottom: 2px;
		border-bottom: 3px solid;
		@include animate(all, 0.15s, 0);
		&:hover {
			padding-bottom: 0px;
			margin-bottom: calc( 1rem + 2px );
			color: $yellow;
		}
	}
}


button {
	border: 0px;
	text-transform: uppercase;
	margin: 20px 10px;
	border-radius: 72px;
	&.btn--fat{
		width: 185px;
		height: 94px;
		padding: 10px;
		background-color: $mint;
		color: $white;
		&:hover {
			border: 1px solid $mint;
			color: $mint;
			background-color: transparent;
		}
	}
	&.btn--round {
		height: 94px;
		width: 94px;
		border-radius: 100px;
		background-color: $vividBlue;
		
	}
	&.btn--skinny {
		background-color: $raspberry;
		width: 148px;
		height: 52px;
		text-transform: none;
		color: $white;
		&:hover {
			border: 1px solid $raspberry;
			color: $raspberry;
			background-color: transparent;
		}
	}

}
