form {
  label {
    display: none !important;
  }
  input,
  textarea {
    border-radius: 0 !important;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid $grey !important;
    color: white !important;
    &:focus {
      background-color: transparent !important;
      outline: thin dotted;
    }
    &:focus:not(:focus-visible) {
      outline: none;
    }
    &:focus-visible {
      outline: thin dotted;
      color: var(--color-text-link-hover);
    }
  }
  button,
  .ff-btn,
  .ff-btn-submit {
    background-color: $yellow;
    border-radius: 30px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    @include animate(all, 0.1s, 0);
    &:hover {
      background-color: $white;
      opacity: 1 !important;
    }
  }

  button.no-btn:hover {
    background-color: transparent !important;
  }

  ::placeholder {
    color: $graphite;
  }
}
