.container-with-sidebar {
	display: flex;
	flex-direction: column;
	.flexible-content {
		margin-top: 5rem;
		position: relative;
		z-index: 10;
	}
	@include media(md) {
		flex-direction: row;
		align-items: flex-start;
		.flexible-content {
			margin-top: 0rem;
		}
		&.Resources {
			flex-direction: row-reverse;
		}
		justify-content: space-around;
		aside {
			width: 40%;
			@include media(lg){
				width: 35%;
			}
		}
		.flexible-content {
			width: 55%;
			@include media(lg){
				width: 60%;
			}
		}
	}
}


aside {
 
	position: relative;
	.shape {
		clip-path: circle(69.1% at 3% 5%);
		top: 55%;
		left: -43%;
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: $yellowGreen;
		@include media(md){
			left: -40%;
		}
	 }
}


.share-sidebar {

position: relative;
z-index: 10;
 background-color: $vividBlue;   
 padding: 2.5rem;
 @include media(md){
    padding: 3.5rem;
 }
 @include media(lg){
    padding: 5rem;
 }
 h3 {
    color: $white!important;
    font-weight: 700;
    margin: 2rem 0 1.3rem;
 }
 p {
    line-height: 160%;
    color: $white;
    &.share-this{
        font-weight: 800;
        margin-top: 1.7rem;
        margin-bottom: 1rem;
    }
 }
 .share--inner{
    position: relative;
 }
 .a2a_svg {
	background-color: $yellow!important;
	width: 2.8rem;
	height: 2.8rem;
	svg {
		path{
			fill: $vividBlue;
		}
	}
 }

}

.resources-sidebar {
    padding-left: 2.2rem;
    h3{
      color:#3674D9;
      ;
    }
    ul {
      padding-left: 0;
    }
    li {
      list-style: none;
      a{
         color:#3674D9;
      }
    }
    border-left: 1px solid #3674D9;
}